// .contOver {
//   overflow: hidden;
// }
.floatingElement {
  z-index: 1;
  scale: 0.3;
  position: fixed;
  cursor: pointer;

  // animation: floatAnimation1 2s infinite linear;
}
.pos1 {
  animation: floatAnimation1 24s infinite linear;
  top: 65%;
}
.pos2 {
  animation: floatAnimation2 25s infinite linear;
  top: 15%;
}
.pos3 {
  animation: floatAnimation3 26s infinite linear;
  top: 25%;
}
.pos4 {
  animation: floatAnimation4 27s infinite linear;
  top: 35%;
}
.pos5 {
  animation: floatAnimation5 34s infinite linear;
  top: 45%;
}
.pos6 {
  animation: floatAnimation6 33s infinite linear;
  top: 50%;
}
.pos7 {
  animation: floatAnimation7 29s infinite linear;
  top: 75%;
}
.disappear {
  animation: disappear 3s linear;
}
@keyframes disappear {
  // 0% {
  //   transform: scale(1);
  // }
  25% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floatAnimation1 {
  0% {
    transform: rotate(230deg);
    transform: translate(350vw, 0vh);
  }

  100% {
    transform: rotate(230deg);
    transform: translate(-150vw, -20vh);
  }
}
@keyframes floatAnimation2 {
  0% {
    transform: translate(300vw, 0vh);
  }

  100% {
    transform: translate(-150vw, 20vh);
  }
}
@keyframes floatAnimation3 {
  0% {
    transform: translate(350vw, 0vh);
  }

  100% {
    transform: translate(-150vw, -40vh);
  }
}
@keyframes floatAnimation4 {
  0% {
    transform: translate(450vw, 0vh);
  }

  100% {
    transform: translate(-180vw, 80vh);
  }
}
@keyframes floatAnimation5 {
  0% {
    transform: rotate(310deg);
    transform: translate(600vw, 0vh);
  }

  100% {
    transform: rotate(310deg);
    transform: translate(-180vw, -100vh);
  }
}
@keyframes floatAnimation6 {
  0% {
    transform: rotate(140deg);
    transform: translate(500vw, 0vh);
  }

  100% {
    transform: rotate(140deg);
    transform: translate(-200vw, -100vh);
  }
}
@keyframes floatAnimation7 {
  0% {
    transform: rotate(230deg);
    transform: translate(650vw, 0vh);
  }

  100% {
    transform: rotate(230deg);
    transform: translate(-220vw, -100vh);
  }
}
