.contOver {
  overflow: hidden;
}
.floatingElement {
  z-index: 1;
  scale: 0.3;
  position: absolute;
  cursor: pointer;

  // animation: floatAnimation1 2s infinite linear;
}
.pos1 {
  animation: floatAnimation1 14s infinite linear;
  top: 0%;
}
.pos2 {
  animation: floatAnimation2 10s infinite linear;
  top: 20%;
}
.pos3 {
  animation: floatAnimation3 24s infinite linear;
  top: 50%;
}
.pos4 {
  animation: floatAnimation4 26s infinite linear;
  top: 60%;
}
.pos5 {
  animation: floatAnimation5 28s infinite linear;
  top: 75%;
}
.disappear {
  animation: disappear 5s linear;
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.1);
  }
  99% {
    transform: scale(1);
  }
}

@keyframes floatAnimation1 {
  0% {
    transform: translate(350vw, -10vh);
  }

  100% {
    transform: translate(-150vw, 30vh);
  }
}
@keyframes floatAnimation2 {
  0% {
    transform: translate(300vw, 0vh);
  }

  100% {
    transform: translate(-150vw, 20vh);
  }
}
@keyframes floatAnimation3 {
  0% {
    transform: translate(350vw, 0vh);
  }

  100% {
    transform: translate(-150vw, -40vh);
  }
}
@keyframes floatAnimation4 {
  0% {
    transform: translate(450vw, 0vh);
  }

  100% {
    transform: translate(-180vw, 80vh);
  }
}
@keyframes floatAnimation5 {
  0% {
    transform: translate(600vw, 0vh);
  }

  100% {
    transform: translate(-180vw, -100vh);
  }
}
