@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://use.typekit.net/jzh0ecg.css");
@import url("https://fonts.cdnfonts.com/css/fake-receipt");
@import url("https://use.typekit.net/jzh0ecg.css");
:root {
  --max-width: 1100px;
  --border-radius: 12px;

  //* FONTS *//

  --font-primary: "owners-xxwide";
  --font-primary2: "owners-wide";
  --font-primary3: "owners";
  --font-secondary: "owners-text";
  --font-newrelease: "Fake Receipt", sans-serif;
  --black: 700;
  --bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 200;

  //* COLORS *//

  --color-green: #7ad9c8;
  --color-red: #fd4747;
  --color-black: #2d2d2d;
  --color-white: #dadada;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-display: auto;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

.background {
  background-image: url("../../public/images/background.webp");
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 60%;
}
.bckDark {
  filter: brightness(60%);
}

h1 {
  font-family: var(--font-primary);
  font-weight: var(--medium);
}
h2 {
  font-family: var(--font-primary2);
  font-weight: var(--light);
}
h3 {
  font-family: var(--font-primary3);
}
p {
  font-family: var(--font-secondary);
  font-weight: var(--regular);
  // line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--color-white);
}

//* DESKTOP VERSION *//

body {
  // overflow: hidden;
  color: var(--color-white);
  padding: 25px 25px 0 25px;
}
main {
  // padding-left: 5vw;
  // padding-right: 5vw;
  padding-top: 7vh;
  padding-bottom: 15vh;
}
.mainPad {
  padding-left: 5vw;
  padding-right: 5vw;
  // padding-top: 7vh;
}
h1,
h2 {
  color: var(--color-green);
}
h1 {
  font-size: 60px;
  line-height: 60px;
}
h2 {
  font-size: 20px;
  line-height: 20px;
}

button {
  cursor: pointer;
  background: none;
  border: none;

  font-family: var(--font-primary3);
  color: var(--color-white);
  font-size: 30px;
}
button:hover {
  scale: 1.1;
}

.weAreHere_shows {
  color: var(--color-green);
}
.notHere_shows {
  opacity: 70%;
}
// #burgerMenuCont {
//   position: absolute;
// }
#burgerMenu li {
  cursor: pointer;
}

//* TABLET VERSION *//
@media screen and (max-width: 1200px) {
  main {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 60px;
    line-height: 50px;
  }
  h2 {
    font-size: 18px;
    line-height: 20px;
  }
}

//* MOBILE VERSION *//
@media screen and (max-width: 500px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }

  body {
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  h1,
  h2 {
    color: var(--color-red);
  }
  h1 {
    font-size: 45px;
    line-height: 50px;
  }
  h2 {
    font-size: 18px;
    line-height: 20px;
  }

  p {
    font-size: 15px;
  }
}
