.newsletter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-primary2);
  div {
    font-size: 20px;
    font-weight: 600;

    color: var(--color-red);
    // display: flex;
    flex-direction: row;

    align-items: center;
  }
  span {
    color: var(--color-white);
  }

  h3,
  h4,
  p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-red);
  }
  a {
    color: var(--color-red);
    font-size: 25px;
    text-decoration: underline;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
