.newsletter {
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  font-family: var(--font-primary2);
  div {
    font-size: 20px;
    font-weight: 600;

    color: var(--color-red);
    // display: flex;
    flex-direction: row;

    align-items: center;
  }
  input {
    display: block;
    // width: 100%;
    // height: 35px;
    background-color: rgba(213, 211, 211, 0);
    border-bottom: 1px solid var(--color-red);
    color: var(--color-white);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
  }

  ::placeholder {
    color: rgb(253, 71, 71, 0.7);
  }
  .inputCont {
    display: flex;
    justify-content: space-between;
  }
  span {
    color: var(--color-white);
  }

  h3,
  h4,
  p {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-red);
    margin-bottom: 5px;
  }
  a {
    color: var(--color-red);
    font-size: 25px;
    text-decoration: underline;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
.widget {
  margin-top: auto;
}
