.newsletter {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary2);

  background-color: rgba(
    17,
    17,
    17,
    0.592
  ); /* Set the background color with transparency */
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: inset -1px -1px 0 0 var(--color-black), 5px 5px 0 #0003;
  padding: 1em;

  div {
    flex-direction: row;
    align-items: center;
    h4 {
      font-size: 20px;
      font-weight: 600;
      color: var(--color-red);
    }

  }


  input {
    display: block;
    background-color: rgba(213, 211, 211, 0);
    border-bottom: 1px solid var(--color-red);
    color: var(--color-white);
    font-family: var(--font-primary2);
    font-size: 16px;
    line-height: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
  }

  ::placeholder {
    color: rgb(253, 71, 71, 0.7);
  }
  .inputCont {
    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }
  span {
    color: var(--color-white);
  }

  h3,
  h4,
  p {
    font-family: var(--font-primary2);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-red);
    margin-bottom: 5px;
  }
  a {
    color: var(--color-red);
    font-size: 25px;
    text-decoration: underline;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 20px;
  }

  button {
    padding-left: 0.5em;
  }
}
.widget {
  margin-top: auto;
}

.confirmationCont {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary2);

  background-color: rgba(
    17,
    17,
    17,
    0.592
  ); /* Set the background color with transparency */
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: inset -1px -1px 0 0 var(--color-black), 5px 5px 0 #0003;
  padding: 1em;
  h3 {
    color: var(--color-red);
  }
  h2 {
    font-size: 16px;
    color: var(--color-white);
  }

  button {
    font-size: 16px;
    padding-top: 1em;
    text-decoration: underline;
  }
}

//* MOBILE VERSION *//
@media screen and (max-width: 600px) {
  .newsletter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;

    .inputCont {
      display: flex;
      gap: 1em;

      input {
        display: block;
        background-color: rgba(213, 211, 211, 0);
        border-bottom: 1px solid var(--color-red);
        color: var(--color-white);
        border-top: 0;
        border-left: 0;
        border-right: 0;
        outline: 0;
        width: 70vw;

        button {
          padding: 0;
        }
      }
    }
  }
}
