//* DESKTOP VERSION *//
.title {
  position: relative;
  display: flex;
  flex-direction: column;
}

.landing_div {
  display: flex;
  //height: 75vh;
  justify-content: space-between;

  padding-top: 0;
  padding-right: 10%;
  padding-left: 10%;

  .title {
    align-items: flex-end;
  }
  h1 {
    font-size: 120px;
    line-height: 100px;
  }
  h2 {
    font-size: 35px;
    line-height: 30px;
  }
}

.newrelbox {
  position: relative;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h3,
  h4,
  p,
  a {
    font-family: var(--font-newrelease);
    color: var(--color-white);
  }
  a {
    color: var(--color-red);
    font-size: 25px;
    text-decoration: underline;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .dots {
    font-size: 10px;
  }
  a:hover {
    scale: 1.1;
  }
}

.grid2 {
  grid-template-columns: 6fr 4fr;
}

.gridSetup {
  display: grid;
  // grid-template-columns: 6fr 4fr;
  grid-gap: 5vw 5vw;

  .title {
    grid-column: 1/-1;
    grid-row: 1 / 2;
  }

  .imgcont {
    border-radius: 50px;
    position: relative;
    width: 100%;
    height: 30vw;
    margin-top: auto; // right: 12px;
    img {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  //*? ABOUT US *//
  #firstimage {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    overflow: hidden;
    // max-height: 100px;
    // min-width: 100%;
    // object-fit: cover;
  }
  #secondimage {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    overflow: hidden;
    // min-height: 300px;
  }
  #firsttext {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #secondtext {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .text_div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  // gloryHole
  // #ghImg {
  //   grid-column: 1/2;
  //   grid-row: 2/4;
  // }

  // .mrgLEFT {
  //   margin-left: 20%;
  // }
  // .mrgRIGHT {
  //   margin-right: 20%;
  // }

  // .ghLine {
  //   margin: auto;

  //   height: 100%;
  //   width: 1px;
  //   background: var(--color-white);
  //   grid-column: 2/3;
  //   grid-row: 2/5;
  // }

  //*? SHOWS *//
  #showsimage {
    grid-row: 2 / 3;
    height: 40vw;
    align-self: center;
  }

  #showsTable {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .showsButtons {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        font-size: 22px;
        margin: 1em;
      }
      button:hover {
        opacity: 100%;
      }

      #line {
        height: 2em;
        border-left: 1px solid var(--color-white);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1em;
      h3 {
        font-size: 18px;
      }
      p {
        font-family: var(--font-primary3);
        font-weight: var(--regular);
      }
      .oneShow {
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: center;

        .showDate {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          border: 1px solid var(--color-white);
          border-radius: 1em;
          padding: 1em;
          width: 90px;
          height: 90px;

          p {
            font-size: 15px;
          }
        }

        .showName {
          display: flex;
          flex-direction: column;
          gap: 1em;
          h3 {
            color: var(--color-green);
            text-decoration: underline;
            cursor: pointer;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

//*? CHAIR TV *//
.chairTV {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;

  .title {
    grid-column: 1/-1;
    grid-row: 1 / 2;
  }

  .tv_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: var(--medium);
      color: var(--color-red);
      text-decoration: underline;
      cursor: pointer;

      margin: -1.5em;
      z-index: 2;
    }
  }

  .imgcont {
    border-radius: 50px;
    position: relative;
    width: 100%;
    height: auto;

    img {
      object-fit: contain;
      height: 20vw;
      width: 100%;
    }
  }
  #tv_1 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  #tv_2 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  #tv_3 {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
  }
}

//*? GloryHole *//
.gridGH {
  grid-template-columns: 1fr 6fr 4fr 1fr;
}

p {
  #ghList {
    font-weight: var(--bold);
  }
}
.ghText {
  grid-column: 2/3;
  grid-row: 2/4;
  // margin-left: 20%;
}
.ghInputForm {
  width: 100%;
  // max-width: 500px;
  margin: auto;
  grid-column: 3/4;
  grid-row: 2/4;
  label {
    width: 100%;
    display: block;
    // margin-top: 25px;
    text-align: left;
    color: var(--color-green);
    font-weight: var(--medium);
    font-size: 16px;
    font-family: var(--font-primary2);
    span {
      display: block;
      font-size: small;
      text-align: right;
    }
  }
  input,
  textarea {
    margin-bottom: 25px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background-color: var(--color-white);
    border: none;
    color: black;
    vertical-align: top;
  }
  .ghMessage {
    height: 135px;
    font-family: var(--font-secondary);
  }
  button {
    color: var(--color-red);
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: var(--font-primary2);
    text-decoration: underline;
    // margin-top: 20px;
    // width: 10%;
  }
}

//*? contact *//
.contText {
  text-align: center;
}
.cont1 {
  font-family: var(--font-primary2);
  font-size: 25px;
  margin-bottom: 10px;
}
.cont2 {
  font-family: var(--font-primary2);
  font-size: 16px;
}
.cont3 {
  a {
    font-weight: var(--regular);
    font-family: var(--font-primary2);
    color: var(--color-white);
    font-size: 16px;
  }
}
.cont4 {
  margin: 30px;
  font-family: var(--font-primary2);
  font-size: 20px;
  a {
    color: var(--color-white);
    text-decoration: underline 1px;
  }
}
.cont5 {
  a {
    margin-top: auto;
    font-family: var(--font-primary2);
    font-size: 30px;
    color: var(--color-red);
    text-decoration: underline 1px;
  }
}

//* TABLET VERSION *//
@media screen and (max-width: 1200px) {
  // GloryHole
  .gridGH {
    grid-template-columns: 6fr 4fr;
  }
  .ghText {
    grid-column: 1/2;
  }
  .ghInputForm {
    grid-column: 2/3;
  }

  .landing_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
  }
}

@media screen and (max-width: 700px) {
  .inputForm {
    input,
    textarea {
      border-radius: 0px;
    }
  }
  .gridSetup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //margin-top: 10%;

    .imgcont {
      border-radius: 0px;
      position: relative;
      width: 110vw;
      height: 70vw;
      img {
        position: relative;
        object-fit: cover;
      }
    }
  }

  .chairTV {
    display: flex;
    gap: 4em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .imgcont {
      border-radius: 50px;
      position: relative;
      width: 100%;
      height: auto;

      img {
        object-fit: contain;
        height: 40vw;
        width: 100%;
      }
    }
  }
}

//* MOBILE VERSION *//
@media screen and (max-width: 500px) {
  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 0;
  }

  .text_div {
    p {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .landing_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 70vh;
    padding-right: 10%;
    padding-left: 10%;

    .title {
      align-items: flex-end;
      padding-top: 0;
    }

    h1,
    h2 {
      color: var(--color-green);
    }
    h1 {
      font-size: 90px;
      line-height: 70px;
    }
    h2 {
      font-size: 22px;
      line-height: 20px;
    }
  }

  .gridSetup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .title {
      padding-top: 100px;
    }

    .imgcont {
      border-radius: 0px;
      position: relative;
      width: 110vw;
      height: 70vw;
      img {
        position: relative;
        object-fit: cover;
      }
    }

    #showsimage {
      height: 70vw;
    }
  }

  .gridGH {
    .title {
      padding-top: 0;
    }
  }
}
